.footer {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  font-family: "inherit";
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0px;
  justify-content: center;
  bottom: 0px;
  color: aliceblue;
  position: fixed;
  left: 0;
  bottom: 0;
}
